<%= form_for @list, validate: true do |f| %>
  <% if @list.errors.any? %>
    <%= render partial: "shared/errors", locals: {object: @list} %>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", placeholder: "Enter title of the todo list", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
