<tr class="list_header">
  <th class="list_title" colspan="4" width = "80%">
    <%= fa_icon "calendar"%>
    <h2 style="display:inline"><%= list.title %></h2>
  </th>

  <th class="list_actions" width = "20%">
    <%= link_to new_list_task_path(list), title: "Add new task" do %>
    <%= fa_icon "plus"%>
    <% end %>

    <%= link_to edit_list_path(list), title: "Edit todo list" do %>
      <%= fa_icon "pencil" %>
    <% end %>

    <%= link_to list_path(list), title: "Delete todo list", method: :delete, data: {confirm: "Are you sure?"} do %>
      <%= fa_icon "trash" %>
    <% end %>
  </th>
</tr>
<% if list.tasks.any?  %>
  <tr class="task_header">
    <th></th>
    <th> Content </th>
    <th> Deadline </th>
    <th> Priority </th>
    <th colspan="3"></th>
  </tr>
<% end %>
