<%= content_for :title, "Task Manager | Editing '#{@list.title}' list" %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center form-header"><%= "Editing '#{@list.title}' list" %></h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
