<%= content_for :title, "Task Manager | #{current_user.email} todo lists" %>
<div class="container">
  <% if @lists.count > 0 %>
    <div id="todo_lists">
      <h2 class="text-center second-header"> My TODO lists</h2>
      <% @lists.each do |list| %>
        <table id = "<%= dom_id(list) %>" class="table">
          <thead>
            <%= render partial: "list_header", locals: {list: list} %>
          </thead>
          <tbody class="task_list">
              <%= render partial: "tasks/task_list", locals: {list: list}%>
          </tbody>
        </table>
      <% end %>
    </div>
  <% else %>
    <h2 class="text-center second-header"> You don't have any lists yet</h2>
  <% end %>

  <%= button_to new_list_path, method: :get, class: "btn btn-primary btn-lg" do %>
    <%= fa_icon "plus", text: "Add new TODO list" %>
  <% end %>
</div>
