<%= content_for :title, "Task Manager | Edit #{current_user.email} profile"  %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h1 class="text-center form-header">Edit <%= resource_name.to_s.humanize %></h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, validate: true) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control"%>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password %> <small>(leave blank if you don't want to change it)</small>
          <%= f.password_field :password, autocomplete: "off", class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <small>(we need your current password to confirm your changes)</small>
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control"%>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
