<%= form_for [@related_list, @task], validate: true do |f| %>
<% if @task.errors.any? %>
  <%= render partial: "shared/errors", locals: {object: @task} %>
<% end %>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, autofocus: true, class: "form-control", placeholder: "Enter task content" %>
  </div>

  <div class="form-group">
    <%= f.label :deadline, "Set up deadline (not necessary)" %>
    <%= f.datetime_local_field :deadline, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :priority, "Select priority for your task" %> 
    <%= f.select :priority, options_for_select(Task.priority_options, @task.priority), {prompt: nil}, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary"%>
  </div>

<% end %>
