<% list.tasks.order(completed: :desc, priority: :asc).each do |task| %>
  <tr id= "<%= dom_id(task) %>" >
    <td width="5%" align="center">
      <% if task.completed? %>
        <%= fa_icon "check-square-o" %>
      <% else %>
        <%= fa_icon "square-o" %>
      <% end %>
    </td>
    <td width="35%"> <%= task.content %> </td>
    <td width="30%"> <%= task.print_deadline %> </td>
    <td width="10%"> <%= task.print_priority %> </td>

    <td class="task_actions" width="20%">
      <% if task.uncompleted? %>
        <%= link_to set_completed_task_path(task), title: "Mark as complete", method: :patch do %>
          <%= fa_icon "bookmark-o" %>
        <% end %>

        <%= link_to edit_task_path(task), title: "Edit this task" do %>
          <%= fa_icon "pencil" %>
        <% end %>

        <%= link_to task_path(task), title: "Delete this task", method: :delete, data: {confirm: "Are you sure?"} do %>
          <%= fa_icon "trash" %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
