<%= content_for :title, "Task Manager | Editing '#{@task.content}' task" %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center form-header"><%= "Editing '#{@task.content}' task" %></h1>
      <%= render "form" %>
    </div>
  </div>
</div>
