<%= content_for :title, "Task Manager | Add new task" %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center form-header">New task for '<%= @task.list.title%>' list</h1>
      <%= render "form" %>
    </div>
  </div>
</div>
