<div id="error_explanation">
  <h4><%= pluralize(object.errors.count, "error") %> prohibited this list from being saved:</h4>
  <ul>
  <% object.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
