<% content_for :title, "Task Manager" %>
<div class="container">
  <div class="print text-center">
    <h1 class="main-header">TODO list application for Ruby Garage</h1>
    <h2 class="second-header">Control your task flow more efficiently</h2>
  </div>
  <div class="actions">
    <%= button_to "Log in",  new_user_session_path, method: :get, class: "btn btn-default" %>
    <%= button_to "Sign up",  new_user_registration_path, method: :get, class: "btn btn-default" %>
  </div>
</div>
