@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// Override default bootstrap rules
.alert-notice {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text)
}

.alert-alert {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text)
}

.field_with_errors {
  @extend .has-error;
}

.field_with_errors .message {
  margin-left: 1%;
}

.alert, .navbar {
  margin-bottom: 0;
  border:none;
  border-radius: 0;
}

.btn-primary { background-color: #4370AE;}

.btn-primary:hover {
  background-color: #90C3D4;
  border-color: #90C3D4;
}

.col-md-6 {
  margin-top: 9%;
  background-color: white;
  border-radius: 12px;
  padding: 2% 5%;
}

.container { margin-bottom: 4%;}

.table > tbody > tr > td, .table > thead > tr > th {
  vertical-align: middle;
  border-bottom: none;
}

// General rules
body {
  background-image: image-url("SmallBusiness1.jpg");
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
}

.table {
  margin: 5% auto;
  max-width: 80%;
  thead {
    tr.list_header {
      background-color: #4370AE;
      height: 54px;
    }
  }

  h2 {
    font-size: 1.5em;
    color: #e6e6ff;
    margin: 0 1%;
  }

  tr { height: 40px; }
}

.list_title i.fa {
  color: #2C3D54;
}

.list_header {
  i.fa {
    font-size: 24px;
    margin: 0 0.7%
  }
}

.button_to {
  .btn {
    display: block;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 13px;
    i.fa { padding: 0 5px;}
  }
}

.form-header {
  font-size: 1.75em;
}

#error_explanation h2{
  font-size: 1.4em;
}

// Stylish icons for list and task actions
.list_actions, .task_actions {
  a {
    text-decoration: none;
    color: #2C3D54;
    background-color: transparent;
  }
  a:visited { color: #2C3D54;}
  a:hover { color: #90C3D4;}
}

.list_actions {
  a { margin: 0% 10.5%;}
  i.fa {
    font-size: 20px;
  }
}
.task_actions {
  a { margin: 0% 12%;}
  i.fa {
    font-size: 17px;
  }
}

// Stylish task list table section
.task_list a { display: none;}

.task_list tr:hover {
  background-color: #FCFED5;
  a { display: inline;}
}

.task_list { background-color: #fff;}
.task_header { background-color: #f2f2f2;}

// Style main page
.print {
  margin: 16.5% auto 6%;
}

.main-header {
    font-family: "Roboto";
    font-weight: 900;
    color: #fff;
    letter-spacing: 1px;
    font-size: 4.5em;
    margin: 5% auto;
}

.second-header {
  font-family: "Roboto";
  font-weight: 300;
  color: #fff;
  font-size: 3.125em;
  margin: 5% auto;
}

.actions .button_to .btn{
  margin: 1% auto;
  width: 20%;
}
